/*   GENERAL   */


* {
 /*  margin: 0;
  padding: 0; */
  font-family: 'Be Vietnam Pro', sans-serif;
  }
  
/*   BODY   */


  body {
    background-image: url(../imagenes/bg-tablet-pattern.svg), url(../imagenes/bg-tablet-pattern.svg);
    background-position: 100% -12%, -56% 70%;
    background-repeat: no-repeat, no-repeat;
    background-size: 700px;
    margin: 0;
    }

/*   HEADER   */


  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 178px;
    }
    
  header ul {
    display: flex;
    list-style: none;
  }
  
  header li {
    margin-left: 28px;
    color: #242E52;
    font-weight: 500; 
    font-size: 16px;
    font-weight: bold;
  }
  
  header li a {
    text-decoration: none;
    color: #242E52;
    font-style: normal;
    line-height: 176.1%;
    margin-right: 10px;
    margin-left: 10px;
   }
  
  header li a:hover {
    cursor: pointer;
    color: rgba(52, 75, 204, 0.6);
  }

  header a:link, a:visited, a:active {
    text-decoration: none;
    }
  
  #navegator {
    display: none;
  }

  header img {
    margin-top: 13.5px;
    margin-left: 150px;
    cursor: pointer;
  }
  
 
  header .button {
    background-color: #F3603B;
    border-radius: 50px;
    border: none;
    font-weight: 500; 
    width: 134px;
    height: 44px;
    pad: 15px 30px;
    font-weight: 500; 
    color: #ffff;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-top: 15px;
    margin-right: 150px
  }
  
  header .button:hover {
    opacity: 0.5;
    background-color: #fa7923;
  }

  header .button:active {
    background-color: #fa7923;
    box-shadow: 0 5px rgb(196, 195, 195);
    transform: translateY(4px);
  }

  /*   SECTION 1   */


  #section-1 {
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px; 
  }

  #section-1-left {
    margin-right: 25px;
    width: 50%;
  }

  h1 {
    color: #232c50;
    font-size: 60px;
    margin: 28px 0px;
   /*  line-height: 66,5px; */
    letter-spacing: -0.035em;
    font-weight: bold;
  }

  #section-1-left p {
    font-weight: 500;
    font-size: 17px;
    line-height: 157%;
    margin-right: 165px;
    margin-bottom: 30px;
    color: #808080;
  }

  #imagen-intro {
    margin-left: 40px;
    width: 50%;
    justify-content: flex-end;
  }
  
  .button-section {
    background-color: #F3603B;
    border-radius: 50px;
    border: none;
    font-weight: 500; 
    width: 134px;
    height: 44px;
    pad: 15px 30px;
    font-weight: 500; 
    color: #ffff;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  
  .button-section:hover {
    opacity: 0.5;
    background-color: #fa7923;
  }

  .button-section:active {
    background-color: #fa7923;
    box-shadow: 0 5px rgb(196, 195, 195);
    transform: translateY(4px);
  }

  /*    SECTION 2     */
  
  
  #section-2 {
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px;
    font-style: normal;
    font-weight: 500;
    font-size: 16.3px;
    line-height: 26px;
    align-items: center;
    color: #b3b2b7;
  }
  
  #section-2-left {
    margin-bottom: 230px;
    width: 50%;
  }

  #section-2-left h2 {
    font-weight: bold;
    font-size: 39.22PX;
    color: #232C50;
    line-height: 114.6%;
    margin-top: 40px;
  } 

  #section-2-left p {
    padding-right: 80px;
    margin-right: 40px;
    color: #808080;
  }
  

 /*    BOXS    */ 

 #boxs {
   padding-left: 120px;
  width: 50%;
 } 
 
  #boxs p {
    margin-left: 40px;
    color: #808080;
  }

  .box-number h4 {
    color: #323851;
    font-weight: bold;
    margin-left: 40px; 
  }

  #number-1::before {
    content: "01";
    background-color: #f3603b;
    border-radius: 15px;
    color: white;
    margin-right: 15px;
    position: relative;
    right: 45px;
    top: 50px;
    padding: 5px 20px;
  }
  
  #number-2::before {
    content: "02";
    background-color: #f3603b;
    border-radius: 15px;
    color: white;
    margin-right: 15px;
    position: relative;
    right: 45px;
    top: 50px;
    padding: 5px 20px;
  }
  
  #number-3::before {
    content: "03";
    background-color: #f3603b;
    border-radius: 15px;
    color: white;
    margin-right: 15px;
    position: relative;
    right: 45px;
    top: 50px;
    padding: 5px 20px;
  }
  

  /*    TESTIMONIES    */


    #title-cards {
    font-style: normal;
    font-weight: bold;
    font-size: 39.22px;
    text-align: center;
    color: #242E53;
    padding-bottom: 50px;
      }

#cards-container {
  display: flex;
 /*  align-items: center; */
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
   /* justify-content: space-between; */
   height: 250px;
  }

.cards {
    display: flex;
    height: 245px;
    width: 420px;
    margin: 3px;
    background-color:#FAFAFA;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 30%);
      }

  .cards img {
     flex: basis 70px;
     border-radius: 50%;
     box-shadow: 0px 2px 6px rgb(0 0 0 / 30%);
  }

  .cards h4 {
    /* padding-top: 21px; */
    color:#3F4868;  
    padding-left: 21px;
  padding-right: 21px;
  text-align: center; 
  font-weight:bold ;
  font-size: 18px;
  } 
  
  .cards p {
  color:#808080;
  font-weight: 500; 
  text-align: center; 
  padding-left: 12px;
  padding-right: 12px;
   }

   #button-cards {
    height: 200px;
    width: auto;
      display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
   }

.style-button {
  background-color: #F3603B;
    border-radius: 50px;
    border: none;
    font-weight: 500; 
    width: 134px;
    height: 44px;
    pad: 15px 30px;
    font-weight: 500; 
    color: #ffff;
    /* opacity: 0.8; */
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    cursor: pointer;
 
   /* font-size: 13.18px; */
}

.style-button:hover {
  opacity: 0.5;
  background-color: #fa7923;
}

.style-button:active {
background-color: #fa7923;
box-shadow: 0 5px rgb(196, 195, 195);
transform: translateY(4px);
}


   /*    SECTION 3    */

   #section-3 {
    background-image: url(../imagenes/bg-simplify-section-desktop.svg);
    display: flex; 
    background-color: #F3613C;
     height: 170px;
     width: auto;
   }

   #section-3 p {
   /*  display:inline; */
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    align-items: center;
    letter-spacing: -0.005em;
    color: #FFFFFF;
   /*  margin: 20px;*/
    margin-left: 150px; 
    width: 60%;
   }

   #button-3 {
     width: auto;
     height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
   }

   #white-button {
    background-color: #FFFFFF;
      border-radius: 50px;
      border: none;
      font-weight: 500; 
      width: 134px;
      height: 44px;
      pad: 15px 30px;
      font-weight: 500; 
      color: #fa7923;
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
      cursor: pointer;
/*       margin-top: 15px;
      margin-right: 150px */
     /* font-size: 13.18px; */
    }
  
   #white-button:hover {
    opacity: 0.5;
    background-color: #f5e3d8;
   }

    #white-button:active {
      background-color: #f0d6c5;
      box-shadow: 0 5px rgb(196, 195, 195);
      transform: translateY(4px);
      }


     /*     FOOTER     */

footer {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 250px;
         }

  /*    FOOTER 1    */  
  #img-footer {
width: 20%;
padding: 20px;
margin: 50px 100px;
display: flex;
flex-wrap: wrap;
box-sizing: border-box;
align-items: center;
}

 .logosFooterSocial {
   color: #FFFFFF;
   font-size: 1.4rem;
   margin-top: 6.5rem;
   margin-right:0.5rem;
 }
 
 .logosFooterSocial i:hover {
color:  #f3603b;
 }

  #networks {
    padding: 0px 20px;
  }
/*    FOOTER 2    */
 #menu-footer {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
    } 
.link-menu {
  margin: 40px;
}

  .link-menu li {
   margin-bottom: 25px;
      
    }

.link-menu a {
list-style-type: none;
color: #FFFFFF;
text-decoration: none;
    }

    .link-menu a:hover {
color: #F3603B;
    }

/*    FOOTER 3     */

#contact-section {
  width: 30%;
display: flex;
margin: 40px;
}

form {
  display: flex;
}

#contact-section div {
  color: #FFFFFF;
}

#email {
  border-radius: 1.7rem;
    color: #A0A0A0;
    font-size: 13px;
    height: 2.5rem;
    margin-bottom: 5rem;
    padding-left: 1rem;
    width: 14rem;
    border-style: none;
    margin-right: 1rem;

}

#Go {
  background-color: #F3603B;
    border-radius: 1.7rem;
    border-style: none;
    box-shadow: #a7442b;
    color:#FFFFFF;
    font-size: 13px;
    height: 2.5rem;
    width: 3.5rem;
    text-align: center;
}

#Go:hover {
  opacity: 0.5;
  background-color: #fa7923;
}

#Go:active {
background-color: #fa7923;
box-shadow: 0 5px rgb(196, 195, 195);
transform: translateY(4px);
}

#copy {
  font-size: 13px;
  display:flex;
  justify-content: space-evenly;
}

/*************************MEDIA QUERIES***************************/

  @media (max-width:375px) {
    #menu-header {
      display: none;
    }
   
    header input {
      display: none;
    }

    header img {
      width: 240px;
      height: 30px;
      margin-top: 30px;
    }
    
    #navegator {
      display: flex;
      color: #242E52;
      font-size: 2.2rem;
      margin-left: 300px;
    }

/*    SECTION 1    */

    #section-1 {
      flex-direction: column-reverse;
      text-align: center;
      margin: 0px 40px; 
      }

    #section-1-left {
      margin: 0;
      font-size: 40px;
      width: 100%;
    }

    #section-1-left h1 {
      margin: 0;
    }

    #section-1-left p {
      margin: 0;
    }

    #imagen-intro {
      margin:0;
      width: 100%;
      justify-content:center;
    }


/*   SECTION 2 */

#section-2 {
  display: none;
  margin-left: 40px;
  margin-right: 40px;
}

#section-2-left {
  margin-bottom: 0;
  width: 100%;
}

/* #section-2-left h2 {
  margin-top: 20px;
}  */

#section-2-left p {
  padding:0;
  margin:0;
  }

/*    BOXS    */

#boxs {
  padding:0;
 width: 100%;
} 

 #boxs p {
   margin:0;
 }

 .box-number h4 {
  margin:0; 
 }

 #number-1::before {
  /* position: relative; */
  margin:0;
  padding: 5px;
 }
 
 #number-2::before {
  /* position: relative; */
  margin:0;
  padding: 5px;
 }

 #number-3::before {
  /* position: relative; */
  margin:0;
  padding: 5px;
 }
 

/*    TESTIMONIES     */

#title-cards {
  padding-bottom: 40px;
    }

#cards-container {
display: flex;
/*  align-items: center; */
flex-wrap: wrap;
margin:0;
 /* justify-content: space-between; */
 height: auto;
}

/* .cards {
  display: flex;
    flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;

    } */

#card-2 {
display: none;
}

#card-3 {
  display: none;
  }

 #button-cards {
  height: auto;
  margin: 10px;
 }


